@charset "utf-8";

.l-contact {
    margin-top: 120px;
    margin-bottom: 160px;
}

.c-status-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    @media only screen and (max-width: 767px) {
        gap: 16px;
    }
}

.c-status-item {
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #CDD4D9;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #CDD4D9;

    &--pink {
        border: 2px solid var(--pink);
        color: var(--pink);
    }

    &--gray {
        border: 2px solid #8F979F;
        color: #8F979F;
    }

    @media only screen and (max-width: 767px) {
        width: 80px;
        height: 80px;
    }
}

.c-status-item--arw {
    width: 10px;
    height: 16px;
    flex-shrink: 0;
}

.c-form-wrapper {
    display: block;
    margin-top: 80px;
    background: #FFF5F5;
    padding: 83px 80px 80px;
    border-radius: 50px;
    @media only screen and (max-width: 767px) {
        padding: 56px 24px;
        border-radius: 25px;
    }
}

.c-form-group {
    &:not(:first-child) {
        margin-top: 51px;
        @media only screen and (max-width: 767px) {
            margin-top: 35px;
        }
    }
}

.c-form-label {
    color: var(--txt, #434D54);
    font-family: "Yu Gothic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.c-form-required {
    color: var(--white, #FFF);
    font-family: "Yu Gothic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    border-radius: 2px;
    background: var(--main-2, #FD6F6F);
    padding: 3px 6px;
    margin-left: 6px;
}

.c-form-input {
    background: var(--white, #FFF);
    width: 100%;
    height: 50px;
    margin: auto;
    margin-top: 25px;
    border: none;
    padding: 15px 0 14px 24px;
    color: var(--gray-dark, #8F979F);
    font-family: "Yu Gothic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    box-sizing: border-box;
    @media only screen and (max-width: 767px) {
        padding: 15px 16px 14px;
        margin-top: 17px;
    }
}

.c-form-group-kind {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 25px;
}

.c-form-label-kind {
    color: var(--txt, #434D54);
    font-family: "Yu Gothic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    display: block;
}

.c-form-input-kind {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background: url(../images/form_radio.svg) no-repeat;
        width: 20px;
        height: 20px;
        bottom: -2px;
        left: -4px;
    }
}

.c-form .c-form-group-content {
    margin-top: 48px;
}

.c-form-textarea {
    width: 100%;
    display: block;
    height: 300px;
    border: none;
    resize: none;
    margin-top: 24px;
    padding: 16px 24px;
    color: var(--gray-dark, #8F979F);
    font-family: "Yu Gothic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    box-sizing: border-box;
    @media only screen and (max-width: 767px) {
        margin-top: 16px;
        padding: 16px;
    }
}

.c-form-group-num {
    text-align: right;
    color: var(--gray-dark, #8F979F);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-top: 8px;
}

.c-btn-area {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 64px;
}

.c-btn {
    color: var(--white, #FFF);
    font-family: "Yu Gothic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    border-radius: 25px;
    border: none;
    padding: 15px 78px 14px;
    position: relative;

    &--pink {
        background: var(--main-2, #FD6F6F);
    }

    &--gray {
        background: var(--gray-dark, #8F979F);
    }

    &::before {
        position: absolute;
        content: '';
        background: url(../images/arw-bold-white.svg) no-repeat;
        width: 10px;
        height: 16px;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 16px;
    }
}

.c-policy {
    margin-top: 48px;
    text-align: center;
    @media only screen and (max-width: 767px) {
        margin-top: 61px;
    }
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1.5px solid #CDD4D9;
    background: #FFF;
    margin: 0 15px 0 0;
}

.c-policy-txt {
    color: var(--txt, #434D54);
    font-family: "Yu Gothic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.l-contact {
    color: var(--txt, #434D54);
    font-family: "Yu Gothic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.l-confirmForm {
    border-radius: 50px;
    background: #FFF5F5;
    padding: 83px 80px;
    margin: 80px 0 160px;

    @media only screen and (max-width: 767px) {
        padding: 56px 24px 59px;
    }
}

.o-confirmation__group {
    p {
        color: var(--black);
        font-family: "Yu Gothic";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;

        &:first-child {
            padding-left: 13px;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: var(--pink);
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        &:last-child {
            margin-top: 24px;

            @media only screen and (max-width: 767px) {
                margin-top: 16px;
            }
        }
    }

    &:not(:first-child) {
        margin-top: 48px;

        @media only screen and (max-width: 767px) {
            margin-top: 32px;
        }
    }
}

.o-confirmation__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 64px;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
        margin-top: 48px;
    }

    .c-button {
        width: 300px;
        color: var(--white);
        padding: 15px 78px 14px;
        border-radius: 25px;
        border: none;
        font-family: "Yu Gothic";
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        position: relative;
        transition: .2s;

        &--primary {
            background: #69AF43;

            &:hover {
                background: var(--pink);
            }
        }

        &--secondary {
            background: #8F979F;

            &:hover {
                color: #8F979F;
                background: var(--white);

                &::before {
                    background: url(../images/contact/arw-bold-hover.svg) no-repeat;
                }
            }
        }

        &::before {
            position: absolute;
            content: '';
            background: url(../images/contact/arw-bold-white.svg) no-repeat;
            width: 10px;
            height: 16px;
            flex-shrink: 0;
            right: 16px;
            top: 0;
            bottom: 0;
            margin: auto;

            @media only screen and (max-width: 767px) {
                right: 17px;
            }
        }
    }
}

#message {
    line-height: 160%;
}

input[type=radio] {
    display: none;
}

.c-form-group-kind-item input[type="radio"]+label {
    position: relative;
    padding-left: 28px;

    &::before {
        position: absolute;
        content: '';
        background: url(../images/contact/radio.svg) no-repeat;
        width: 20px;
        height: 20px;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transition: .3s;
    }
}

.c-form-group-kind-item input[type="radio"]:checked+label {
    &::before {
        position: absolute;
        content: '';
        background: url(../images/contact/radioed.svg) no-repeat;
        width: 20px;
        height: 20px;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transition: .3s;
    }
}

.check-box {
    cursor: pointer;
}

.check-box input {
    display: none;
}

.check-box input+.text:before {
    content: "";
    display: inline-block;
    position: relative;
    top: 0.25em;
    margin: 0 5px 0 0;
    background-image: none, url(../images/contact/check.svg);
    background-size: 120%, 100%;
    background-position: top 55% left 50%, 0 0;
    background-repeat: no-repeat, no-repeat;
    width: 19px;
    height: 18px;
    overflow: visible;
}

.check-box input:checked+.text:before {
    background-image: url(../images/contact/checked.svg), url(../images/contact/check.svg);
    background-size: 150%, 100%;
    background-position: top 40% left 50%, 0 0;
}

.c-btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 64px;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
        margin-top: 48px;
    }

    .c-btn {
        width: 300px;
        color: var(--white);
        padding: 15px 78px 14px;
        border-radius: 25px;
        border: none;
        font-family: "Yu Gothic";
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        position: relative;
        transition: .2s;

        &--pink {
            background: var(--pink);

            &:hover {
                background: #69AF43;;
            }
        }

        &--gray {
            background: #8F979F;

            &:hover {
                color: #8F979F;
                background: var(--white);

                &::before {
                    background: url(../images/contact/arw-bold-hover.svg) no-repeat;
                }
            }
        }

        &::before {
            position: absolute;
            content: '';
            background: url(../images/contact/arw-bold-white.svg) no-repeat;
            width: 10px;
            height: 16px;
            flex-shrink: 0;
            right: 16px;
            top: 0;
            bottom: 0;
            margin: auto;

            @media only screen and (max-width: 767px) {
                right: 17px;
            }
        }
    }
}

.text a {
    border-bottom: 1px solid;
}

.error-message {
    color: var(--pink);
    font-family: "Yu Gothic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-top: 8px;
    display: block;
}

input,
textarea {
    outline: none;
}