:root {
  --main-1: rgba(105, 175, 68, 1);
  --main-2: rgba(253, 111, 111, 1);
  --txt: rgba(67, 77, 84, 1);
  --white: rgba(255, 255, 255, 1);
  --gray-light: rgba(205, 212, 217, 1);
  --gray-dark: rgba(143, 151, 159, 1);
  --ccblack-323232: rgba(50, 50, 50, 1);
  --ccgray-4b4b4b: rgba(75, 75, 75, 1);
  --ccgray-646464: rgba(100, 100, 100, 1);
  --ccgray-7d7d7d: rgba(125, 125, 125, 1);
  --ccgray-969696: rgba(150, 150, 150, 1);
  --ccgray-afafaf: rgba(175, 175, 175, 1);
  --ccgray-c8c8c8: rgba(200, 200, 200, 1);
  --ccgray-e1e1e1: rgba(225, 225, 225, 1);
  --ccwhite-f5f5f5: rgba(245, 245, 245, 1);
}

.l-hd {
  max-width: 1280px;
  margin: auto;
  margin-top: 195px;
  padding: 0 100px;
}

.p-hd__en {
  color: var(--pink);
  font-family: "Zen Kaku Gothic New";
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.p-hd__ja {
  color: var(--pink);
  font-family: "Yu Gothic";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-top: 8px;
}

.p-hd__breadcrumb {
  width: 204px;
  padding: 8px 16px;
  border-radius: 5px;
  background: #EDF2F5;
  text-align: right;
  margin-top: 32px;
}

.l-story {
  max-width: 1280px;
  margin: auto;
  margin-top: 80px;
  padding: 0 100px;
}

.p-story__item {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 249px;
}

.p-story__img {
  max-width: 480px;
}
.p-story__img--04 {
  max-width: 282px;
}

.p-story__txt {
  color: var(--black);
  font-family: "Yu Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%;
  letter-spacing: -0.32px;
}
.p-story__txt--pink {
  color: var(--pink);
  font-family: "Yu Gothic";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%;
}

.p-story__txt span {
  display: block;
  margin-top: 32px;
}

.l-habit {
  width: 100%;
  background: #FFF5F5;
}

.p-habit {
  max-width: 1280px;
  margin: auto;
  display: grid;
  grid-gap: 253px;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 106px 100px 106px 153px;
}

.p-habit__img {
  max-width: 237px;
}

.p-habit__txt {
  width: 384px;
}

.p-habit__title {
  color: var(--pink);
  font-family: "Yu Gothic";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%;
}

.p-habit__exp {
  color: var(--pink);
  font-family: "Yu Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%;
  letter-spacing: -0.32px;
  margin-top: 56px;
}

.p-habit__exp span:last-child {
  display: block;
  margin-top: 32px;
}

.l-exp {
  max-width: 700px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 160px;
}

.p-exp__txt {
  color: var(--black);
  text-align: center;
  font-family: "Yu Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%;
  letter-spacing: -0.32px;
}

.p-exp__img {
  margin-top: 56px;
  max-width: 700px;
}

.l-mv {
  width: 100vw;
  background: #FFDB85;
  margin-top: 80px;
  padding-bottom: 551px;
  position: relative;
}

.l-mv::before {
  content: "";
  position: absolute;
  background: url(../images/ambassador-action.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  bottom: 0;
}

.p-mv {
  padding: 0 100px;
}

.p-mv__en {
  color: var(--main-2, #FD6F6F);
  font-family: "Zen Kaku Gothic New";
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.p-mv__ja {
  color: var(--main-2, #FD6F6F);
  font-family: "Yu Gothic";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-top: 8px;
}

.p-mv__breadcrumb {
  width: 204px;
  padding: 8px 16px;
  border-radius: 5px;
  background: #EDF2F5;
  text-align: right;
  margin-top: 32px;
}

.p-mv__txt {
  color: var(--main-2, #FD6F6F);
  text-align: center;
  font-family: "Yu Gothic";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: -0.48px;
  margin-top: 120px;
}

.l-bg {
  background: #FFF5F5;
}

.p-bg {
  position: relative;
}

.p-bg::before {
  content: "";
  position: absolute;
  background: url(../images/ambassador_mv_bg.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 666px;
}

.p-bg__txt {
  color: var(--main-2, #FD6F6F);
  text-align: center;
  font-family: "Yu Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%;
  letter-spacing: -0.32px;
  margin-top: 32px;
}

.ambassador {
  background-color: #fff5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.ambassador .div {
  background-color: #fff5f5;
  width: 1280px;
  height: 9391px;
  position: relative;
}

.ambassador .footer {
  position: absolute;
  width: 1280px;
  height: 642px;
  top: 8749px;
  left: 0;
  background-color: transparent;
}

.ambassador .overlap {
  position: absolute;
  width: 1280px;
  height: 612px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.ambassador .menus {
  height: 330px;
  top: 162px;
  left: 100px;
  position: absolute;
  width: 1080px;
}

.ambassador .menus-2 {
  height: 272px;
  top: 0;
  left: 0;
  position: absolute;
  width: 1080px;
}

.ambassador .menu {
  position: absolute;
  width: 252px;
  height: 124px;
  top: 0;
  left: 552px;
}

.ambassador .category {
  width: 254px;
  position: absolute;
  height: 42px;
  top: 0;
  left: 0;
}

.ambassador .txt {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Zen Kaku Gothic New", Helvetica;
  font-weight: 700;
  color: #8f979f;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.ambassador .line {
  position: absolute;
  width: 252px;
  height: 1px;
  top: 41px;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.ambassador .menu-2 {
  position: absolute;
  width: 124px;
  height: 58px;
  top: 66px;
  left: 0;
}

.ambassador .footer-menu-parent {
  width: 124px;
  height: 21px;
  top: 37px;
  position: absolute;
  left: 0;
}

.ambassador .text-wrapper {
  position: absolute;
  top: -1px;
  left: 28px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #434d54;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  left: 0;
}

.ambassador .footer-menu-parent-2 {
  width: 108px;
  top: 0;
  position: absolute;
  height: 21px;
  left: 0;
}

.ambassador .menu-3 {
  position: absolute;
  width: 252px;
  height: 207px;
  top: 0;
  left: 828px;
}

.ambassador .menu-4 {
  position: absolute;
  width: 252px;
  height: 141px;
  top: 66px;
  left: 0;
}

.ambassador .banners {
  position: absolute;
  width: 252px;
  height: 96px;
  top: 45px;
  left: 0;
}

.ambassador .trans-instagram {
  position: absolute;
  width: 252px;
  height: 40px;
  top: 56px;
  left: 0;
  background-color: #ff0069;
}

.ambassador .group {
  position: relative;
  width: 223px;
  height: 24px;
  top: 8px;
  left: 15px;
}

.ambassador .txt-2 {
  position: absolute;
  top: 2px;
  left: 32px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .camera-sns {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/lmQmxkHd/img/camera-sns.svg);
  background-size: 100% 100%;
}

.ambassador .trans-line {
  position: absolute;
  width: 252px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #06c755;
}

.ambassador .group-2 {
  position: relative;
  width: 188px;
  height: 24px;
  top: 8px;
  left: 33px;
}

.ambassador .txt-3 {
  position: absolute;
  top: 2px;
  left: 38px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .fukidashi-sns {
  position: absolute;
  width: 30px;
  height: 24px;
  top: 0;
  left: 0;
}

.ambassador .txt-wrapper {
  width: 96px;
  top: 0;
  position: absolute;
  height: 21px;
  left: 0;
}

.ambassador .txt-4 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #434d54;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .menu-5 {
  position: absolute;
  width: 528px;
  height: 272px;
  top: 0;
  left: 0;
}

.ambassador .category-2 {
  width: 530px;
  position: absolute;
  height: 42px;
  top: 0;
  left: 0;
}

.ambassador .line-2 {
  position: absolute;
  width: 528px;
  height: 1px;
  top: 41px;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.ambassador .menu-6 {
  position: absolute;
  width: 113px;
  height: 97px;
  top: 66px;
  left: 0;
}

.ambassador .footer-menu-child {
  width: 113px;
  height: 18px;
  top: 45px;
  position: absolute;
  left: 0;
}

.ambassador .txt-5 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #8f979f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.ambassador .div-wrapper {
  width: 84px;
  top: 79px;
  left: 0;
  position: absolute;
  height: 18px;
}

.ambassador .footer-menu-parent-3 {
  width: 95px;
  top: 0;
  position: absolute;
  height: 21px;
  left: 0;
}

.ambassador .menu-7 {
  position: absolute;
  width: 144px;
  height: 206px;
  top: 66px;
  left: 276px;
}

.ambassador .footer-menu-parent-4 {
  width: 144px;
  top: 0;
  position: absolute;
  height: 21px;
  left: 0;
}

.ambassador .footer-menu-parent-5 {
  width: 144px;
  top: 37px;
  position: absolute;
  height: 21px;
  left: 0;
}

.ambassador .footer-menu-parent-6 {
  width: 128px;
  top: 74px;
  position: absolute;
  height: 21px;
  left: 0;
}

.ambassador .footer-menu-parent-7 {
  width: 64px;
  top: 111px;
  position: absolute;
  height: 21px;
  left: 0;
}

.ambassador .footer-menu-parent-8 {
  width: 64px;
  top: 148px;
  position: absolute;
  height: 21px;
  left: 0;
}

.ambassador .footer-menu-parent-9 {
  width: 80px;
  top: 185px;
  position: absolute;
  height: 21px;
  left: 0;
}

.ambassador .sub-menus {
  position: absolute;
  width: 498px;
  height: 18px;
  top: 312px;
  left: 582px;
}

.ambassador .footer-menu-child-2 {
  width: 238px;
  top: 0;
  left: 0;
  position: absolute;
  height: 18px;
}

.ambassador .footer-menu-child-3 {
  width: 140px;
  top: 0;
  left: 270px;
  position: absolute;
  height: 18px;
}

.ambassador .footer-menu-child-4 {
  width: 56px;
  top: 0;
  left: 442px;
  position: absolute;
  height: 18px;
}

.ambassador .txt-6 {
  position: absolute;
  width: 700px;
  top: 79px;
  left: 480px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #fc6e6e;
  font-size: 13px;
  letter-spacing: -0.26px;
  line-height: 20.8px;
}

.ambassador .logo-footer {
  position: absolute;
  width: 191px;
  height: 40px;
  top: 80px;
  left: 100px;
}

.ambassador .overlap-group-wrapper {
  position: absolute;
  width: 1282px;
  height: 30px;
  top: 612px;
  left: 0;
}

.ambassador .overlap-group {
  position: relative;
  width: 1280px;
  height: 30px;
  background-color: #fc6e6e;
}

.ambassador .p {
  position: absolute;
  top: 6px;
  left: 513px;
  font-family: "Zen Kaku Gothic New", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.ambassador .overlap-2 {
  position: absolute;
  width: 1280px;
  height: 5034px;
  top: 3707px;
  left: 0;
}

.ambassador .div-2 {
  position: absolute;
  width: 1280px;
  height: 374px;
  top: 4660px;
  left: 0;
}

.ambassador .img-ambassador {
  position: absolute;
  width: 640px;
  height: 374px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/lmQmxkHd/img/mask-group.png);
  background-size: 100% 100%;
}

.ambassador .overlap-group-2 {
  position: relative;
  width: 13px;
  height: 11px;
  top: 134px;
  left: 490px;
}

.ambassador .rectangle {
  position: absolute;
  width: 10px;
  height: 11px;
  top: 0;
  left: 0;
  background-color: #fc6e6e;
}

.ambassador .ellipse {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 4px;
  left: 6px;
  background-color: var(--white);
  border-radius: 3.5px/3.54px;
}

.ambassador .right {
  position: absolute;
  width: 640px;
  height: 374px;
  top: 0;
  left: 640px;
  background-color: var(--main-1);
}

.ambassador .contents {
  position: relative;
  width: 489px;
  height: 246px;
  top: 64px;
  left: 76px;
}

.ambassador .txts {
  position: absolute;
  width: 493px;
  height: 166px;
  top: 0;
  left: 0;
}

.ambassador .txt-7 {
  position: absolute;
  width: 432px;
  top: 114px;
  left: 28px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 25.6px;
}

.ambassador .txt-8 {
  position: absolute;
  top: 0;
  left: 154px;
  font-family: "Zen Kaku Gothic New", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.64px;
  line-height: 32px;
  white-space: nowrap;
}

.ambassador .txts-2 {
  position: absolute;
  width: 491px;
  height: 50px;
  top: 48px;
  left: 0;
}

.ambassador .overlap-group-3 {
  position: relative;
  width: 489px;
  height: 50px;
  border: 2px solid;
  border-color: var(--white);
}

.ambassador .txt-9 {
  position: absolute;
  top: 11px;
  left: 14px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 24px;
  white-space: nowrap;
}

.ambassador .trans-under {
  position: absolute;
  width: 250px;
  height: 40px;
  top: 206px;
  left: 120px;
}

.ambassador .overlap-3 {
  position: absolute;
  width: 252px;
  height: 40px;
  top: 0;
  left: 0;
}

.ambassador .btn {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 252px;
  height: 40px;
  top: 0;
  left: 0;
}

.ambassador .overlap-group-4 {
  position: relative;
  width: 250px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 20px;
}

.ambassador .txt-10 {
  position: absolute;
  top: 10px;
  left: 69px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #69af43;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .arw-bold {
  position: absolute;
  width: 10px;
  height: 16px;
  top: 12px;
  left: 224px;
}

.ambassador .mascot-finger {
  position: absolute;
  width: 160px;
  height: 121px;
  top: -23954px;
  left: -9673px;
}

.ambassador .element-form {
  position: absolute;
  width: 1280px;
  height: 3341px;
  top: 1320px;
  left: 0;
  background-color: #ffffff;
}

.ambassador .h {
  width: 231px;
  top: 245px;
  left: 527px;
  position: absolute;
  height: 93px;
}

.ambassador .txt-11 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Zen Kaku Gothic New", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 62.4px;
  white-space: nowrap;
}

.ambassador .txt-12 {
  position: absolute;
  top: 70px;
  left: 59px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.4px;
  white-space: nowrap;
}

.ambassador .form {
  position: absolute;
  width: 902px;
  height: 2778px;
  top: 402px;
  left: 190px;
}

.ambassador .overlap-4 {
  position: relative;
  width: 900px;
  height: 2778px;
  background-color: #fff5f5;
  border-radius: 50px;
}

.ambassador .btns {
  position: absolute;
  width: 616px;
  height: 50px;
  top: 2648px;
  left: 142px;
}

.ambassador .trans-next {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #69af43;
  border-radius: 25px;
}

.ambassador .txt-13 {
  position: absolute;
  top: 14px;
  left: 78px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .arw-bold-2 {
  position: absolute;
  width: 10px;
  height: 16px;
  top: 17px;
  left: 274px;
}

.ambassador .reset {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0;
  left: 316px;
  background-color: var(--gray-dark);
  border-radius: 25px;
}

.ambassador .forms {
  position: absolute;
  width: 740px;
  height: 2372px;
  top: 212px;
  left: 80px;
}

.ambassador .input {
  width: 740px;
  height: 99px;
  top: 0;
  position: absolute;
  left: 0;
}

.ambassador .input-2 {
  width: 742px;
  height: 50px;
  top: 49px;
  position: absolute;
  left: 0;
}

.ambassador .placeholder-wrapper {
  position: relative;
  width: 740px;
  height: 50px;
  background-color: var(--white);
}

.ambassador .placeholder {
  top: 15px;
  left: 24px;
  color: #8f979f;
  font-size: 16px;
  line-height: 20.8px;
  white-space: nowrap;
  position: absolute;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
}

.ambassador .label {
  position: absolute;
  width: 118px;
  height: 25px;
  top: 0;
  left: 0;
}

.ambassador .label-2 {
  position: absolute;
  top: 3px;
  left: 13px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #434d54;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .ellipse-2 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 11px;
  left: 0;
  background-color: var(--main-2);
  border-radius: 2.5px;
}

.ambassador .need {
  left: 67px;
  position: absolute;
  width: 51px;
  height: 25px;
  top: 0;
}

.ambassador .overlap-group-5 {
  position: relative;
  width: 49px;
  height: 25px;
  background-color: var(--main-2);
  border-radius: 2px;
}

.ambassador .txt-14 {
  position: absolute;
  top: 3px;
  left: 6px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .input-3 {
  width: 740px;
  height: 99px;
  top: 147px;
  position: absolute;
  left: 0;
}

.ambassador .label-3 {
  position: absolute;
  width: 182px;
  height: 25px;
  top: 0;
  left: 0;
}

.ambassador .need-2 {
  left: 131px;
  position: absolute;
  width: 51px;
  height: 25px;
  top: 0;
}

.ambassador .input-4 {
  width: 740px;
  height: 99px;
  top: 294px;
  position: absolute;
  left: 0;
}

.ambassador .input-5 {
  width: 740px;
  height: 99px;
  top: 441px;
  position: absolute;
  left: 0;
}

.ambassador .input-6 {
  width: 740px;
  height: 50px;
  top: 49px;
  background-color: var(--white);
  position: absolute;
  left: 0;
}

.ambassador .label-4 {
  position: absolute;
  width: 243px;
  height: 25px;
  top: 0;
  left: 0;
}

.ambassador .need-3 {
  left: 192px;
  position: absolute;
  width: 51px;
  height: 25px;
  top: 0;
}

.ambassador .input-7 {
  width: 742px;
  height: 125px;
  top: 1283px;
  position: absolute;
  left: 0;
}

.ambassador .label-5 {
  position: absolute;
  width: 231px;
  height: 25px;
  top: 0;
  left: 0;
}

.ambassador .need-4 {
  left: 180px;
  position: absolute;
  width: 51px;
  height: 25px;
  top: 0;
}

.ambassador .label-6 {
  position: absolute;
  top: 107px;
  left: 0;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #434d54;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.ambassador .input-8 {
  width: 740px;
  height: 95px;
  top: 588px;
  position: absolute;
  left: 0;
}

.ambassador .input-9 {
  width: 742px;
  height: 50px;
  top: 45px;
  position: absolute;
  left: 0;
}

.ambassador .label-7 {
  position: absolute;
  width: 93px;
  height: 21px;
  top: 0;
  left: 0;
}

.ambassador .item-title-wrapper {
  position: absolute;
  width: 82px;
  height: 21px;
  top: 0;
  left: 13px;
}

.ambassador .item-title {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #434d54;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .ellipse-3 {
  top: 8px;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 0;
  background-color: var(--main-2);
  border-radius: 2.5px;
}

.ambassador .input-10 {
  width: 740px;
  height: 95px;
  top: 731px;
  position: absolute;
  left: 0;
}

.ambassador .label-8 {
  position: absolute;
  width: 77px;
  height: 21px;
  top: 0;
  left: 0;
}

.ambassador .label-9 {
  position: absolute;
  width: 66px;
  height: 21px;
  top: 0;
  left: 13px;
}

.ambassador .input-11 {
  width: 742px;
  height: 376px;
  top: 1585px;
  position: absolute;
  left: 0;
}

.ambassador .count {
  position: absolute;
  top: 355px;
  left: 688px;
  font-family: "Open Sans", Helvetica;
  font-weight: 500;
  color: #8f979f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .textarea {
  position: absolute;
  width: 742px;
  height: 300px;
  top: 49px;
  left: 0;
}

.ambassador .overlap-group-6 {
  position: relative;
  width: 740px;
  height: 300px;
  background-color: var(--white);
}

.ambassador .placeholder-2 {
  top: 16px;
  left: 24px;
  color: #8f979f;
  font-size: 16px;
  line-height: 25.6px;
  white-space: nowrap;
  position: absolute;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
}

.ambassador .label-10 {
  position: absolute;
  width: 166px;
  height: 25px;
  top: 0;
  left: 0;
}

.ambassador .label-11 {
  position: absolute;
  width: 98px;
  height: 21px;
  top: 2px;
  left: 13px;
}

.ambassador .ellipse-4 {
  top: 10px;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 0;
  background-color: var(--main-2);
  border-radius: 2.5px;
}

.ambassador .need-5 {
  left: 117px;
  position: absolute;
  width: 51px;
  height: 25px;
  top: 0;
}

.ambassador .input-12 {
  width: 505px;
  height: 81px;
  top: 1456px;
  position: absolute;
  left: 0;
}

.ambassador .upload {
  position: absolute;
  width: 219px;
  height: 36px;
  top: 45px;
  left: 0;
}

.ambassador .overlap-group-7 {
  position: relative;
  width: 217px;
  height: 36px;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--main-2);
}

.ambassador .item-title-2 {
  position: absolute;
  top: 6px;
  left: 32px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .vector {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 8px;
  left: 8px;
}

.ambassador .label-12 {
  position: absolute;
  width: 505px;
  height: 21px;
  top: 0;
  left: 0;
}

.ambassador .label-13 {
  position: absolute;
  width: 494px;
  height: 21px;
  top: 0;
  left: 13px;
}

.ambassador .radio {
  position: absolute;
  width: 740px;
  height: 361px;
  top: 874px;
  left: 0;
}

.ambassador .checks {
  position: absolute;
  width: 740px;
  height: 312px;
  top: 49px;
  left: 0;
}

.ambassador .check {
  position: absolute;
  width: 335px;
  height: 21px;
  top: 0;
  left: 0;
}

.ambassador .check-2 {
  position: absolute;
  width: 27px;
  height: 20px;
  top: 0;
  left: 0;
}

.ambassador .rectangle-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border: 1.5px solid;
  border-color: #cdd4d9;
}

.ambassador .check-3 {
  position: absolute;
  width: 24px;
  height: 17px;
  top: -21864px;
  left: -9549px;
}

.ambassador .txt-15 {
  position: absolute;
  width: 300px;
  top: -1px;
  left: 35px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--txt);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
}

.ambassador .check-4 {
  position: absolute;
  width: 335px;
  height: 21px;
  top: 45px;
  left: 0;
}

.ambassador .check-5 {
  position: absolute;
  width: 24px;
  height: 17px;
  top: -21909px;
  left: -9549px;
}

.ambassador .check-6 {
  position: absolute;
  width: 335px;
  height: 21px;
  top: 90px;
  left: 0;
}

.ambassador .check-7 {
  position: absolute;
  width: 24px;
  height: 17px;
  top: -21954px;
  left: -9549px;
}

.ambassador .check-8 {
  position: absolute;
  width: 335px;
  height: 21px;
  top: 135px;
  left: 0;
}

.ambassador .check-9 {
  position: absolute;
  width: 24px;
  height: 17px;
  top: -21999px;
  left: -9549px;
}

.ambassador .check-10 {
  position: absolute;
  width: 335px;
  height: 21px;
  top: 180px;
  left: 0;
}

.ambassador .check-11 {
  position: absolute;
  width: 24px;
  height: 17px;
  top: -22044px;
  left: -9549px;
}

.ambassador .other {
  position: absolute;
  width: 740px;
  height: 87px;
  top: 225px;
  left: 0;
}

.ambassador .input-13 {
  width: 742px;
  height: 50px;
  top: 37px;
  position: absolute;
  left: 0;
}

.ambassador .check-12 {
  position: absolute;
  width: 24px;
  height: 17px;
  top: -22089px;
  left: -9549px;
}

.ambassador .label-14 {
  position: absolute;
  width: 200px;
  height: 25px;
  top: 0;
  left: 0;
}

.ambassador .need-6 {
  left: 149px;
  position: absolute;
  width: 51px;
  height: 25px;
  top: 0;
}

.ambassador .check-13 {
  position: absolute;
  width: 274px;
  height: 21px;
  top: 2351px;
  left: 233px;
}

.ambassador .check-14 {
  position: absolute;
  width: 24px;
  height: 17px;
  top: -23292px;
  left: -9782px;
}

.ambassador .txt-16 {
  position: absolute;
  top: -1px;
  left: 35px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--txt);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .span {
  text-decoration: underline;
}

.ambassador .text-wrapper-2 {
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #434d54;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
}

.ambassador .group-3 {
  position: absolute;
  width: 740px;
  height: 294px;
  top: 2009px;
  left: 0;
}

.ambassador .check-15 {
  position: absolute;
  width: 211px;
  height: 21px;
  top: 273px;
  left: 265px;
}

.ambassador .check-16 {
  position: absolute;
  width: 24px;
  height: 17px;
  top: -23223px;
  left: -9814px;
}

.ambassador .rule {
  position: absolute;
  width: 740px;
  height: 200px;
  top: 49px;
  left: 0;
  background-color: var(--white);
  overflow: hidden;
  overflow-y: scroll;
}

.ambassador .placeholder-3 {
  width: 660px;
  top: 39px;
  left: 40px;
  color: #434d54;
  font-size: 14px;
  line-height: 22.4px;
  position: absolute;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
}

.ambassador .label-15 {
  position: absolute;
  width: 326px;
  height: 25px;
  top: 0;
  left: 0;
}

.ambassador .label-16 {
  position: absolute;
  width: 258px;
  height: 21px;
  top: 2px;
  left: 13px;
}

.ambassador .need-7 {
  left: 277px;
  position: absolute;
  width: 51px;
  height: 25px;
  top: 0;
}

.ambassador .txt-17 {
  position: absolute;
  top: 3px;
  left: 6px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #fff5f5;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .txt-18 {
  position: absolute;
  top: 80px;
  left: 138px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 25.6px;
}

.ambassador .element-qas {
  position: absolute;
  width: 1280px;
  height: 1445px;
  top: 0;
  left: 0;
}

.ambassador .overlap-5 {
  position: absolute;
  width: 1280px;
  height: 1288px;
  top: 157px;
  left: 0;
}

.ambassador .bg {
  top: 643px;
  position: absolute;
  width: 1280px;
  height: 645px;
  left: 0;
}

.ambassador .qas {
  position: absolute;
  width: 900px;
  height: 1128px;
  top: 0;
  left: 190px;
}

.ambassador .qa {
  height: 176px;
  top: 0;
  position: absolute;
  width: 900px;
  left: 0;
  background-color: var(--white);
  border-radius: 10px;
}

.ambassador .contents-2 {
  position: relative;
  width: 820px;
  height: 112px;
  top: 32px;
  left: 40px;
}

.ambassador .q {
  width: 822px;
  height: 40px;
  top: 0;
  position: absolute;
  left: 0;
}

.ambassador .txt-19 {
  position: absolute;
  width: 764px;
  top: 7px;
  left: 56px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 25.6px;
}

.ambassador .img-wrapper {
  width: 40px;
  height: 40px;
  top: 0;
  background-color: var(--main-2);
  border-radius: 20px;
  position: absolute;
  left: 0;
}

.ambassador .txt-20 {
  position: absolute;
  width: 17px;
  height: 18px;
  top: 11px;
  left: 12px;
}

.ambassador .q-2 {
  width: 822px;
  height: 40px;
  top: 72px;
  position: absolute;
  left: 0;
}

.ambassador .txt-21 {
  position: absolute;
  width: 764px;
  top: 7px;
  left: 56px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #434d54;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 25.6px;
}

.ambassador .a {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: var(--white);
  border-radius: 20px;
  border: 2px solid;
  border-color: var(--main-2);
}

.ambassador .txt-22 {
  position: absolute;
  width: 15px;
  height: 17px;
  top: 9px;
  left: 10px;
}

.ambassador .dot-line {
  position: absolute;
  width: 820px;
  height: 1px;
  top: 55px;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.ambassador .contents-wrapper {
  height: 188px;
  top: 200px;
  position: absolute;
  width: 900px;
  left: 0;
  background-color: var(--white);
  border-radius: 10px;
}

.ambassador .contents-3 {
  position: relative;
  width: 820px;
  height: 124px;
  top: 32px;
  left: 40px;
}

.ambassador .q-3 {
  width: 822px;
  height: 52px;
  top: 72px;
  position: absolute;
  left: 0;
}

.ambassador .txt-23 {
  position: absolute;
  width: 764px;
  top: 0;
  left: 56px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #434d54;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 25.6px;
}

.ambassador .qa-2 {
  height: 292px;
  top: 412px;
  position: absolute;
  width: 900px;
  left: 0;
  background-color: var(--white);
  border-radius: 10px;
}

.ambassador .contents-4 {
  position: relative;
  width: 820px;
  height: 228px;
  top: 32px;
  left: 40px;
}

.ambassador .q-4 {
  width: 822px;
  height: 156px;
  top: 72px;
  position: absolute;
  left: 0;
}

.ambassador .qa-3 {
  height: 188px;
  top: 940px;
  position: absolute;
  width: 900px;
  left: 0;
  background-color: var(--white);
  border-radius: 10px;
}

.ambassador .qa-4 {
  height: 188px;
  top: 728px;
  position: absolute;
  width: 900px;
  left: 0;
  background-color: var(--white);
  border-radius: 10px;
}

.ambassador .h-2 {
  width: 216px;
  top: 0;
  left: 534px;
  position: absolute;
  height: 93px;
}

.ambassador .txt-24 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Zen Kaku Gothic New", Helvetica;
  font-weight: 700;
  color: #fc6e6e;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 62.4px;
  white-space: nowrap;
}

.ambassador .txt-25 {
  position: absolute;
  top: 70px;
  left: 44px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #fc6e6e;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.4px;
  white-space: nowrap;
}

.ambassador .element-entry-flow {
  position: absolute;
  width: 900px;
  height: 597px;
  top: 2974px;
  left: 190px;
}

.ambassador .h-3 {
  width: 228px;
  top: 0;
  left: 338px;
  position: absolute;
  height: 93px;
}

.ambassador .txt-26 {
  position: absolute;
  top: 70px;
  left: 67px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.4px;
  white-space: nowrap;
}

.ambassador .flow {
  position: absolute;
  width: 900px;
  height: 440px;
  top: 157px;
  left: 0;
}

.ambassador .overlap-6 {
  position: relative;
  height: 440px;
}

.ambassador .arws {
  position: absolute;
  width: 354px;
  height: 36px;
  top: 82px;
  left: 273px;
}

.ambassador .flows {
  position: absolute;
  width: 900px;
  height: 440px;
  top: 0;
  left: 0;
}

.ambassador .flow-2 {
  position: absolute;
  width: 250px;
  height: 344px;
  top: 0;
  left: 325px;
}

.ambassador .txts-3 {
  position: absolute;
  width: 252px;
  height: 120px;
  top: 224px;
  left: 0;
}

.ambassador .title {
  width: 110px;
  height: 26px;
  left: 72px;
  position: absolute;
  top: 0;
}

.ambassador .txt-27 {
  position: absolute;
  top: 0;
  left: 66px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.4px;
  line-height: 26px;
  white-space: nowrap;
}

.ambassador .txt-28 {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: "Zen Kaku Gothic New", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .txt-29 {
  position: absolute;
  width: 250px;
  top: 42px;
  left: 0;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #434d54;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 25.6px;
}

.ambassador .div-3 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 25px;
  background-color: var(--white);
  border-radius: 10px;
}

.ambassador .group-4 {
  position: relative;
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
}

.ambassador .overlap-group-8 {
  position: relative;
  height: 100px;
}

.ambassador .group-5 {
  position: absolute;
  width: 92px;
  height: 92px;
  top: 0;
  left: 0;
}

.ambassador .rectangle-3 {
  position: absolute;
  width: 14px;
  height: 39px;
  top: 62px;
  left: 74px;
  background-color: #eaedef;
  border-radius: 2px;
  transform: rotate(-45deg);
}

.ambassador .flow-3 {
  position: absolute;
  width: 250px;
  height: 344px;
  top: 0;
  left: 650px;
}

.ambassador .title-2 {
  width: 149px;
  height: 26px;
  left: 53px;
  position: absolute;
  top: 0;
}

.ambassador .mask-group {
  position: absolute;
  width: 124px;
  height: 80px;
  top: 60px;
  left: 38px;
}

.ambassador .flow-4 {
  position: absolute;
  width: 250px;
  height: 440px;
  top: 0;
  left: 0;
}

.ambassador .overlap-wrapper {
  position: relative;
  width: 124px;
  height: 44px;
  top: 83px;
  left: 38px;
}

.ambassador .overlap-7 {
  position: relative;
  width: 126px;
  height: 45px;
}

.ambassador .group-6 {
  position: absolute;
  width: 126px;
  height: 34px;
  top: 0;
  left: 0;
}

.ambassador .overlap-group-9 {
  position: relative;
  width: 124px;
  height: 34px;
  background-color: var(--main-2);
  border-radius: 19.5px;
}

.ambassador .txt-30 {
  position: absolute;
  top: 6px;
  left: 35px;
  font-family: "Zen Kaku Gothic New", Helvetica;
  font-weight: 900;
  color: var(--white);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.8px;
  line-height: 20.8px;
  white-space: nowrap;
}

.ambassador .group-7 {
  position: absolute;
  width: 16px;
  height: 25px;
  top: 20px;
  left: 109px;
}

.ambassador .txts-4 {
  position: absolute;
  width: 254px;
  height: 216px;
  top: 224px;
  left: 0;
}

.ambassador .txt-31 {
  position: absolute;
  width: 250px;
  top: 128px;
  left: 0;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #8f979f;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 22.4px;
}

.ambassador .element-activities {
  position: absolute;
  width: 900px;
  height: 1052px;
  top: 1802px;
  left: 190px;
}

.ambassador .h-4 {
  width: 361px;
  top: 0;
  left: 272px;
  position: absolute;
  height: 93px;
}

.ambassador .txt-32 {
  position: absolute;
  top: 70px;
  left: 143px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #fc6e6e;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.4px;
  white-space: nowrap;
}

.ambassador .details {
  position: absolute;
  width: 900px;
  height: 895px;
  top: 157px;
  left: 0;
}

.ambassador .detail {
  position: absolute;
  width: 434px;
  height: 433px;
  top: 0;
  left: 0;
}

.ambassador .txts-5 {
  position: absolute;
  width: 436px;
  height: 109px;
  top: 324px;
  left: 0;
}

.ambassador .txt-33 {
  position: absolute;
  width: 434px;
  top: 0;
  left: 0;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #526fd3;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.36px;
  line-height: 28.8px;
}

.ambassador .group-8 {
  position: absolute;
  width: 294px;
  height: 35px;
  top: 74px;
  left: 70px;
}

.ambassador .group-9 {
  position: absolute;
  width: 128px;
  height: 35px;
  top: 0;
  left: 0;
}

.ambassador .overlap-group-10 {
  position: relative;
  width: 126px;
  height: 35px;
  border-radius: 20px;
}

.ambassador .txt-34 {
  position: absolute;
  top: 7px;
  left: 16px;
  font-family: "Zen Kaku Gothic New", Helvetica;
  font-weight: 700;
  color: #526fd3;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.ambassador .frame {
  width: 126px;
  position: absolute;
  height: 35px;
  top: 0;
  left: 0;
  border-radius: 20px;
  border: 2px solid;
  border-color: #526fd3;
}

.ambassador .group-10 {
  position: absolute;
  width: 162px;
  height: 35px;
  top: 0;
  left: 134px;
}

.ambassador .overlap-8 {
  position: relative;
  width: 160px;
  height: 35px;
  border-radius: 20px;
}

.ambassador .txt-35 {
  position: absolute;
  top: 7px;
  left: 16px;
  font-family: "Zen Kaku Gothic New", Helvetica;
  font-weight: 400;
  color: #526fd3;
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  white-space: nowrap;
}

.ambassador .text-wrapper-3 {
  font-weight: 700;
  letter-spacing: 0;
}

.ambassador .text-wrapper-4 {
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: -0.32px;
}

.ambassador .text-wrapper-5 {
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: -0.81px;
}

.ambassador .frame-2 {
  width: 160px;
  position: absolute;
  height: 35px;
  top: 0;
  left: 0;
  border-radius: 20px;
  border: 2px solid;
  border-color: #526fd3;
}

.ambassador .overlap-wrapper-2 {
  position: absolute;
  width: 302px;
  height: 300px;
  top: 0;
  left: 67px;
}

.ambassador .overlap-9 {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #7e9bff;
  border-radius: 150px;
}

.ambassador .txt-36 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Zen Kaku Gothic New", Helvetica;
  font-weight: 700;
  color: #526fd3;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: 80px;
  white-space: nowrap;
}

.ambassador .mask-group-2 {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
}

.ambassador .detail-2 {
  position: absolute;
  width: 436px;
  height: 382px;
  top: 160px;
  left: 466px;
}

.ambassador .txt-37 {
  position: absolute;
  width: 434px;
  top: 324px;
  left: 0;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #3d920f;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.36px;
  line-height: 28.8px;
}

.ambassador .overlap-10 {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: var(--main-1);
  border-radius: 150px;
}

.ambassador .txt-38 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Zen Kaku Gothic New", Helvetica;
  font-weight: 700;
  color: #3d920f;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: 80px;
  white-space: nowrap;
}

.ambassador .group-11 {
  position: absolute;
  width: 192px;
  height: 190px;
  top: 52px;
  left: 54px;
}

.ambassador .overlap-11 {
  position: relative;
  height: 190px;
}

.ambassador .group-12 {
  position: absolute;
  width: 56px;
  height: 119px;
  top: 6px;
  left: 110px;
  transform: rotate(30deg);
}

.ambassador .overlap-group-11 {
  position: relative;
  height: 119px;
}

.ambassador .rectangle-4 {
  position: absolute;
  width: 6px;
  height: 119px;
  top: 0;
  left: 25px;
  background-color: #d6d6d6;
  border-radius: 1px;
}

.ambassador .rectangle-5 {
  position: absolute;
  width: 6px;
  height: 30px;
  top: 41px;
  left: 25px;
  background-color: #c4c4c4;
  border-radius: 1px;
}

.ambassador .ellipse-5 {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 8px;
  left: 0;
  background-color: var(--white);
  border-radius: 27.82px;
}

.ambassador .ellipse-6 {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 21px;
  left: 13px;
  border-radius: 14.64px;
  border: 6px solid;
  border-color: var(--main-2);
}

.ambassador .group-13 {
  position: absolute;
  width: 56px;
  height: 119px;
  top: 6px;
  left: 26px;
  transform: rotate(-30deg);
}

.ambassador .group-14 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 22px;
  left: 14px;
  transform: rotate(-45deg);
}

.ambassador .overlap-group-12 {
  position: relative;
  width: 31px;
  height: 31px;
  top: -1px;
  left: -2px;
}

.ambassador .line-3 {
  position: absolute;
  width: 13px;
  height: 29px;
  top: 2px;
  left: 9px;
  transform: rotate(75deg);
}

.ambassador .line-4 {
  position: absolute;
  width: 29px;
  height: 13px;
  top: 9px;
  left: 1px;
  transform: rotate(75deg);
}

.ambassador .image {
  position: absolute;
  width: 180px;
  height: 100px;
  top: 90px;
  left: 6px;
}

.ambassador .detail-3 {
  position: absolute;
  width: 436px;
  height: 382px;
  top: 513px;
  left: 0;
}

.ambassador .txt-39 {
  position: absolute;
  width: 434px;
  top: 324px;
  left: 0;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #e1a20b;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.36px;
  line-height: 28.8px;
}

.ambassador .overlap-12 {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #ffdb84;
  border-radius: 150px;
}

.ambassador .txt-40 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Zen Kaku Gothic New", Helvetica;
  font-weight: 700;
  color: #e1a20b;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: 80px;
  white-space: nowrap;
}

.ambassador .group-15 {
  position: absolute;
  width: 127px;
  height: 169px;
  top: 55px;
  left: 93px;
}

.ambassador .overlap-group-13 {
  position: relative;
  height: 169px;
}

.ambassador .mascot-injection {
  position: absolute;
  width: 108px;
  height: 96px;
  top: 26px;
  left: 3px;
}

.ambassador .group-16 {
  position: absolute;
  width: 127px;
  height: 169px;
  top: 0;
  left: 0;
}

.ambassador .overlap-13 {
  position: absolute;
  width: 1280px;
  height: 1682px;
  top: 0;
  left: 0;
}

.ambassador .element {
  position: absolute;
  width: 1280px;
  height: 1128px;
  top: 0;
  left: 0;
}

.ambassador .element-message {
  position: absolute;
  width: 1280px;
  height: 666px;
  top: 1016px;
  left: 0;
}

.ambassador .overlap-14 {
  position: relative;
  height: 666px;
}

.ambassador .bg-2 {
  top: 11px;
  position: absolute;
  width: 1280px;
  height: 645px;
  left: 0;
}

.ambassador .illiustrations {
  position: absolute;
  width: 1280px;
  height: 666px;
  top: 0;
  left: 0;
}

.ambassador .flow-meal {
  position: absolute;
  width: 153px;
  height: 78px;
  top: 292px;
  left: 0;
  background-image: url(https://c.animaapp.com/lmQmxkHd/img/mask-group-3@2x.png);
  background-size: 100% 100%;
}

.ambassador .flow-meal-2 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 0;
  left: 366px;
}

.ambassador .flow-meal-3 {
  position: absolute;
  width: 194px;
  height: 161px;
  top: 23px;
  left: 85px;
}

.ambassador .flow-meal-4 {
  position: absolute;
  width: 99px;
  height: 120px;
  top: 79px;
  left: 930px;
}

.ambassador .flow-meal-5 {
  position: absolute;
  width: 225px;
  height: 128px;
  top: 286px;
  left: 1017px;
}

.ambassador .flow-meal-6 {
  position: absolute;
  width: 210px;
  height: 151px;
  top: 515px;
  left: 936px;
}

.ambassador .flow-meal-7 {
  position: absolute;
  width: 147px;
  height: 75px;
  top: 141px;
  left: 1133px;
}

.ambassador .flow-meal-8 {
  position: absolute;
  width: 145px;
  height: 162px;
  top: 424px;
  left: 146px;
}

.ambassador .txts-6 {
  position: absolute;
  width: 552px;
  height: 456px;
  top: 171px;
  left: 368px;
}

.ambassador .txt-41 {
  position: absolute;
  top: 0;
  left: 21px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 40px;
}

.ambassador .txt-42 {
  position: absolute;
  top: 112px;
  left: 0;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 40px;
}

.ambassador .txt-43 {
  position: absolute;
  top: 376px;
  left: 21px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 40px;
}

.ambassador .txt-44 {
  position: absolute;
  top: 224px;
  left: 108px;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 40px;
}

.ambassador .element-FV {
  position: absolute;
  width: 437px;
  height: 206px;
  top: 155px;
  left: 100px;
}

.ambassador .title-3 {
  width: 441px;
  height: 138px;
  left: 0;
  position: absolute;
  top: 0;
}

.ambassador .txt-45 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Zen Kaku Gothic New", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 80px;
  letter-spacing: 0;
  line-height: 104px;
  white-space: nowrap;
}

.ambassador .txt-46 {
  position: absolute;
  top: 112px;
  left: 0;
  font-family: "Yu Gothic-Bold", Helvetica;
  font-weight: 700;
  color: var(--main-2);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.ambassador .breadcrumb {
  display: inline-flex;
  height: 36px;
  align-items: flex-start;
  gap: 10px;
  padding: 8px 16px;
  position: absolute;
  top: 170px;
  left: 0;
  background-color: var(--white);
  border-radius: 5px;
}

.ambassador .btns-2 {
  display: flex;
  width: 159px;
  height: 20px;
  align-items: center;
  gap: 16px;
  position: relative;
}

.ambassador .div-4 {
  position: relative;
  width: 16px;
  height: 16px;
}

.ambassador .home {
  height: 16px;
}

.ambassador .rectangle-6 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 15px;
  left: 6px;
}

.ambassador .rectangle-7 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 15px;
  left: 10px;
}

.ambassador .subtract {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
}

.ambassador .arw-thin-min {
  position: relative;
  width: 7px;
  height: 12px;
}

.ambassador .breadcrumb-2 {
  position: relative;
  width: 104px;
  height: 18px;
}

.ambassador .txt-47 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #434d54;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 16.9px;
  white-space: nowrap;
}

.ambassador .header-hamburger {
  position: fixed;
  width: 1280px;
  height: 85px;
  top: 0;
  left: 0;
}/*# sourceMappingURL=home.css.map */