:root {
  --black: #434D54;
  --gray-dark: #8F979F;
  --gray-light: #CDD4D9;
  --pink: #FD6F6F;
  --green: #69AF44;
  --white: #FFFFFF;
}

.secttl-box .ja-ttl {
  margin-top: 8px;
}

/* section */
.section {
  max-width: 1080px;
  width: 100%;
  padding: 0 100px;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .section {
    padding: 0 24px;
  }
}
.section-full {
  margin-inline: calc(50% - 50vw);
}

/* Our items */
.l-food {
  margin-top: 119px;
}

.p-food__wrapper {
  margin-top: 64px;
}

.l-supplement {
  margin: 121px auto 161px;
}

/* Brand story */
.l-story {
  margin-top: 222px;
}
@media only screen and (max-width: 767px) {
  .l-story {
    margin-top: 280px;
  }
}
.l-story--02 {
  margin-top: 266px;
}
@media only screen and (max-width: 767px) {
  .l-story--02 {
    margin-top: 262px;
  }
}
.l-story--03 {
  margin-top: 296px;
}
@media only screen and (max-width: 767px) {
  .l-story--03 {
    margin-top: 184px;
  }
}
.l-story--04 {
  margin-top: 359px;
}
@media only screen and (max-width: 767px) {
  .l-story--04 {
    margin-top: 185px;
  }
}

.p-story__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 250px;
}
.p-story__list--bottom {
  background: #FFF5F5;
  padding: 106px 0px;
  margin-top: 154px;
}
@media only screen and (max-width: 767px) {
  .p-story__list--bottom {
    padding: 120px 0;
    margin-top: 120px;
  }
}
@media only screen and (max-width: 1079px) {
  .p-story__list {
    grid-gap: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .p-story__list {
    grid-template-columns: 1fr;
    grid-gap: 160px;
  }
}
@media only screen and (max-width: 767px) {
  .p-story__list--02 {
    grid-gap: 69px;
  }
}
@media only screen and (max-width: 767px) {
  .p-story__list--03 {
    grid-gap: 93px;
  }
}
@media only screen and (max-width: 767px) {
  .p-story__list--04 {
    grid-gap: 94px;
  }
}
@media only screen and (max-width: 767px) {
  .p-story__list--05 {
    grid-gap: 120px;
  }
}

.p-story__img {
  max-width: 480px;
}
.p-story__img--02 {
  max-width: 480px;
}
.p-story__img--03 {
  max-width: 440px;
}
.p-story__img--04 {
  max-width: 270px;
}
.p-story__img--logo {
  max-width: 334px;
}

.p-story__txt {
  color: var(--pink);
  font-family: "Yu Gothic";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%;
}
@media only screen and (max-width: 767px) {
  .p-story__txt {
    font-size: 20px;
  }
}

.p-story__txt--black {
  display: grid;
  grid-gap: 32px;
}
@media only screen and (max-width: 767px) {
  .p-story__txt--black {
    grid-gap: 24px;
  }
}

.p-story__txt--black p {
  color: var(--black);
  font-family: "Yu Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%;
  letter-spacing: -0.32px;
}

.p-story__txt--pink {
  color: var(--pink);
}

.p-story__subTxt--pink {
  display: grid;
  grid-gap: 32px;
  margin-top: 56px;
}
@media only screen and (max-width: 767px) {
  .p-story__subTxt--pink {
    margin-top: 40px;
  }
}

.p-story__subTxt--pink p {
  font-family: "Yu Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%;
  letter-spacing: -0.32px;
}

.p-voice__inner {
  text-align: center;
  margin-top: 120px;
}

.p-voice__txt {
  color: var(--black);
  text-align: center;
  font-family: "Yu Gothic";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.4px;
}

.p-voice__img {
  margin-top: 32px;
  position: relative;
  left: -85px;
}
@media only screen and (max-width: 767px) {
  .p-voice__img {
    left: -35px;
  }
}

.p-voice__img img {
  max-width: 338px;
}
@media only screen and (max-width: 767px) {
  .p-voice__img img {
    max-width: 256px;
  }
}

.l-mainVisual {
  margin-top: 120px;
  text-align: center;
}

.p-mainVisual__txt {
  color: var(--pink);
  text-align: center;
  font-family: "Yu Gothic";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: -0.48px;
}

.p-mainVisual__img {
  max-width: 780px;
  margin-top: 80px;
  position: relative;
  bottom: 20px;
}

.l-ambassadorTxt {
  display: grid;
  gap: 32px;
}

/* Component */
.c-center {
  text-align: center;
}

.c-hd-title-en {
  color: var(--pink);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
@media only screen and (max-width: 767px) {
  .c-hd-title-en {
    font-size: 56px;
  }
}

.c-hd-title-ja {
  color: var(--pink);
  font-family: "Yu Gothic";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-top: 8px;
}

.c-breadcrumbs {
  margin-top: 32px;
}

.c-breadcrumbs-inner {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  background: #EDF2F5;
  height: 36px;
}

.c-breadcrumbs-img-home {
  width: 16px;
  height: 16px;
}

.c-breadcrumbs-img-arw {
  width: 7px;
  height: 12px;
}

.c-breadcrumbs-txt {
  color: var(--black);
  font-family: "Noto Sans JP";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.c-ourItem-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.c-ourItem-category {
  color: var(--black);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  display: block;
  margin-top: 24px;
}
@media only screen and (max-width: 767px) {
  .c-ourItem-category {
    margin-top: 16px;
  }
}

.c-ourItem-title {
  color: var(--black);
  font-family: "Yu Gothic";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin-top: 8px;
}
@media only screen and (max-width: 767px) {
  .c-ourItem-title {
    font-size: 16px;
  }
}

.c-ourItem-txt {
  color: #8E9296;
  font-family: "Yu Gothic";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.28px;
  margin-top: 14px;
}
@media only screen and (max-width: 767px) {
  .c-ourItem-txt {
    margin-top: 16px;
  }
}

.c-ourItem-price {
  color: var(--pink);
  font-family: "Open Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-align: right;
  margin-top: 25px;
}
@media only screen and (max-width: 767px) {
  .c-ourItem-price {
    font-size: 24px;
    margin-top: 17px;
  }
}

.c-ourItem-price-dollar {
  font-weight: 500;
}

.c-ourItem-price-tax {
  font-family: "Yu Gothic";
  font-size: 16px;
  font-weight: 700;
  margin-left: 4px;
}
@media only screen and (max-width: 767px) {
  .c-ourItem-price-tax {
    margin-left: 2px;
  }
}

.c-bg-yellow {
  background: #FFDB85;
}

.c-bg-pink {
  background: #FFF5F5;
  border-radius: 30% 30% 0 0;
  padding-top: 160px;
  position: relative;
  top: -50px;
}

.l-ambassadorTxt p {
  color: var(--pink);
  text-align: center;
  font-family: "Yu Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%;
  letter-spacing: -0.32px;
}

/* sp */
.sp {
  display: block;
}
@media only screen and (max-width: 767px) {
  .sp {
    display: none;
  }
}

/* pc */
.pc {
  display: none;
}
@media only screen and (max-width: 767px) {
  .pc {
    display: block !important;
  }
}

/* margin */
.mt195 {
  margin-top: 195px;
}
@media only screen and (max-width: 767px) {
  .mt195 {
    margin-top: 190px;
  }
}

.mt380 {
  margin-top: 380px;
}

/* padding */
.pt195 {
  padding-top: 195px;
}
@media only screen and (max-width: 767px) {
  .pt195 {
    padding-top: 190px;
  }
}

.pb160 {
  padding-bottom: 160px;
}/*# sourceMappingURL=items.css.map */